.showing-box-pic {
    width: 210px !important;
    height: 160px !important;
    position: relative;
  
    
}

.showing-pic {
    max-width: 200px !important;
    max-height: 150px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      
}
.main-photo {
    max-width: 700px;
    max-height: 700px;
}
footer{
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
}
.paginate-links {
    color:#222;
}
.indections {
    margin-right: 4px;
}
.indection-active {
    color:#FFF;
    background-color: #333 !important;
}
.indection-active:hover{
    color:#FFF;
}
.edit-alert{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}